<h1 >Change Old Password</h1>

<h2 >Enter Old Password</h2>
<p><input required maxlength="12" minlength="8" type="text" class="form-control" #password></p>
<h4 >Type last remembered Password</h4>

<h2 >Enter New Password</h2>
<p><input required maxlength="12" minlength="8" type="text" class="form-control" #password></p>
<h4 >Password must be contain at least of 6 characters,and consist of a letter and a number</h4>

<h2 >Confirm New Password</h2>
<p><input required maxlength="12" minlength="8" type="password" class="form-control" #password></p>
<h4 >Password & Confirm Password should be Same</h4>

<p><button type="submit">Submit</button></p>
<br>
<br>

