<div class="container">
    <h1>Change Old Password</h1>
    <br>
    <br>
    <form Submit="submit(login)">

    <div class="form_group">
        <label for="enter_old_password" style="font-size: 1px; color: black;">Enter old Password</label><br>
        <input required minlength="8" maxlength="12" type="text" name="enter_old_password" class="form-control">
        <div style="color: crimson;"></div>
    </div>
<br>
<br>
<div class="form_group">
    <label for="enter_new_password" style="font-size: 1px; color: black;">Enter New Password</label><br>
    <input required minlength="8" maxlength="12" type="text" name="enter_new_password" class="form-control">
    <div style="color: crimson;">Password must be contain at least of 6 characters,and consist of a letter and a number</div>
</div>
<br>
<br>
<div class="form_group">
    <label for="confirm_new_password" style="font-size: 1px; color: black;">Confirm New Password</label><br>
    <input required minlength="8" maxlength="12" type="text" name="confirm_new_password" class="form-control">
    <div style="color: crimson;">Password & Confirm Password should be Same</div>
</div>
<br>
<br>
    <button class="btn btn-primary" type="submit">submit</button>

</form>
</div>