<div class="wrapper fadeInDown">
    <div id="formContent">

<div class="fadeIn first">
    <img src="" id="icon" alt="user Icon" style="height: 100px; width: 250px;"/>
</div><br><br>

<form>
    <input type="text" id="login" class="faeIn second" name="login" placeholder="login"><br><br>
    <input type="text" id="password" class="faeIn third" name="password" placeholder="password"><br><br>
<input type="submit" class="fadeIn fourth" value="Log In">
</form><br>

<div id="formFooter">
    <a class="underlineHover" href="#">Forgot password</a>
</div>

<div id="formFooter">
    <a class="underlineHover" href="#" style="color: chocolate;">New user? Register here</a>
</div>

    </div>
</div>

<script type="text/javascript">
</script>