
<mat-sidenav-container fullscreen>
  <mat-sidenav mode="over" #sidenav closed position="start" style="background-color: transparent;">
    <app-sidenav ></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="color: cyan; background-color: darkcyan;">
      <button mat-icon-button (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
      My Food Fair
      <span class="toolbar-spacer"></span>
     <a href="">Home</a>
     &nbsp;&nbsp;&nbsp;

     &nbsp;&nbsp;&nbsp;
     <a *ngIf="!isSignedIn" href="login">Log In</a>
     <a *ngIf="isSignedIn" href="#" (click)="onlogout()">Log out</a>
      <span class="toolbar-spacer"></span>
      &nbsp;&nbsp;&nbsp;
      
      <a *ngIf="!isSignedIn" href="login">ListView</a>
     <a *ngIf="isSignedIn" href="#" (click)="onlogout()">MapView</a>
      <span class="toolbar-spacer"></span>

    </mat-toolbar>
    <div class="main-content">

    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
