
<mat-card class="example-card" style="background-color: rgb(230, 89, 43); width: 250px; height: 250px; text-align: start;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="https://cdn.britannica.com/45/5645-050-B9EC0205/head-treasure-flower-disk-flowers-inflorescence-ray.jpg" 
    style="border-radius: 50%; height: 150px; width: 150px;">
    <mat-card-title style="color:rgb(14, 151, 151);" >Person Name</mat-card-title>
</mat-card>
  
<br>
<br>
<!-- <a href="AddPreference" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(14, 151, 151)">Add Preference</a>
<span class="toolbar-spacer"></span> -->
<!-- <br>
<br> -->
<a href="Myaddress" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(14, 151, 151)">My Address</a>
<span class="toolbar-spacer"></span>
<br>
<br>
<a href="editprofile" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(14, 151, 151)">Edit Profile</a>
<span class="toolbar-spacer"></span>
<br>
<br>
<a href="Changepassword" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(14, 151, 151)">Change Password</a>
<span class="toolbar-spacer"></span>
<br>
<br>