
<body>

  <div class="search">
    <h1>Search Box</h1>
  <div class="Box" >
  <input type="text" name="" style="width: 90%;">
  <i class="fa fa-search" aria-hidden="true"></i>
  </div>

  </div>
<h1 *ngIf="isSignedIn">You are Logged In .Your Email Id is {{this.username.email}}</h1>

<ul>
  <h1 *ngIf="isSignedIn!=null">Popular Resturent Nearby</h1>
  <h1 *ngIf="isSignedIn==null">User Fevorite Resturent Nearby</h1>
  <br>
  <li *ngFor="let food of foods">
    <a>
      <img *ngIf="food.store_image!=null" src="{{food.store_image}}" alt="">
      <img *ngIf="food.store_image==null" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=700%2C636" alt="">
      <div class="content">
        <div class="name">
          {{food.store_name}}
        </div>
        <span class="favorite {{food.favorite?'':'not'}}">
          ❤️
        </span>
        <div class="stars">
          <star-rating 
        [value]="food.stars" 
        [totalstars]="5" 
        checkedcolor="red" 
        uncheckedcolor="black" 
        size="18px" 
        [readonly]="true">
      </star-rating>
        </div>
      <div class="product-item-footer">
        <div class="store_description">
        <span *ngFor="let store_description of food.store_description">
          {{store_description}}
        </span>
        </div>
        <div class="cooktime">
          <span>🕒</span>
          {{food.cooktime}}
        </div>
      </div>
      <div class="price">
        <span>
          {{food.price|currency}}
        </span>
      </div>
      <div>
        <a href="viewstore" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(14, 151, 151)">View Store</a>
<span class="toolbar-spacer"></span>
      </div>
      </div>
    </a>
  </li>
</ul>

<!-- <app-items></app-items> -->

</body>
