.Box{
  border: 2px red solid;
  border-radius: 20px;
}
.search{
  text-align: center;
max-width: max-content;
left: 50px;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0%;
}

li a{
  height: 50rem;
  width: 30rem;
  border: 1px darkcyan;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: rebeccapurple;
  border-style:solid;
}

li a:hover{
  cursor: pointer;
  opacity: 0.9;
}

.content{
  padding: .5rem 1rem;
  position: relative;
}

.favorite{
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not{
  color: gray;
}

.stars{
  margin-bottom: .2rem;
}

.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.origins{
  flex: 9;
}

.origins span{
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: .7rem;
  color: gray;
  margin-right: .3rem;
}

.cooktime{
  font-size: .8rem;
  flex: 3;
  text-align: right;
}

.price{
  color: cyan;
  margin-top: .7rem;
}

.img{
  height: 15rem;
  width: 15rem;
}